openapi: 3.1.0

info:
  title: DeckOfCard
  version: 1.0.0
  license:
    name: MIT
    identifier: MIT

servers:
- url: https://deckofcards.chuklee.com
  description: DeckOfCard
- url: http://localhost:3000
  description: Local development

paths:
  /api/decks:
    get: 
      summary: List of all decks
      operationId: getDecks
      tags:
      - decks
      responses:
        '200': 
          description: A list of all the installed card decks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDecksResponse'
  /api/deck:
    post: 
      summary: Create a new deck
      operationId: postDeck
      tags:
      - deck
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeckOptions'
      responses:
        '200':
          description: Created new deck 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostDeckResponse'
        '400':
          description: Cannot create deck
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Cannot find deck name or deck id
          $ref: '#/components/responses/NotFound'

  /api/deck/{deckId}:
    get: 
      summary: Draw cards from a deck
      operationId: getCardsByDeckId
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      - name: count
        in: query
        schema:
          type: number
          default: 1
      responses:
        '200':
          description: Draw cards from a deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckResponse'
        '400':
          description: Cannot create deck
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Cannot find deck name or deck id
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete a deck 
      operationId: deleteDeck
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Delete a deck 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDeckResponse'
        '404':
          description: Cannot find deck name or deck id
          $ref: '#/components/responses/NotFound'
    put: 
      summary: Reshuffle the cards with the deck_id
      operationId: putCardsByDeckId
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      - name: remaining
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Status of the shuffled deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckStatusResponse'
        '400':
          description: Cannot create deck
          $ref: '#/components/responses/BadRequest'

  /api/deck/{deckId}/status:
    get:
      summary: Show the status of the deck
      operationId: getDeckStatus
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Status of the deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckStatusResponse'
        '404':
          description: Cannot find deck name or deck id
          $ref: '#/components/responses/NotFound'

  /api/deck/{deckId}/back:
    get:
      summary: Get the back image of a deck
      operationId: getDeckBackImage
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get the back image of a deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckBackResponse'
        '404':
          description: Cannot find deck name or deck id
          $ref: '#/components/responses/NotFound'

components:
  schemas:
    DeckSummary:
      title: Deck Summary 
      description: Short information about a deck
      type: object
      required:
      - id
      - name
      - description
      properties:
        id: 
          type: string
        name: 
          type: string
        description: 
          type: string

    Decks:
      title: Deck Summary 
      description: List of card decks
      type: array
      items:
        $ref: '#/components/schemas/DeckSummary'

    Card:
      title: Card
      description: Card details
      type: object
      required:
      - code
      - image
      - value
      - suit
      - images
      properties:
        code: 
          type: string
        image: 
          type: string
        value: 
          type: string
        suit: 
          type: string
        count:
          type: integer 
          format: int32
        images:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/CardImages'

    CardImages:
      title: Card Images
      description: Images of a card
      type: object
      properties:
        svg:
          type: string
        png:
          type: string
        jpeg:
          type: string
        jpg:
          type: string

    CreateDeckOptions:
      title: Create Deck Options
      description: Options for creating a deck
      type: object
      anyOf:
      - required: [ deck_id ]
      - required: [ deck_name ]
      - required: [ deck_name, deck_id ]
      properties:
        deck_id:
          type: string
        deck_name:
          type: string
        deck_count:
          type: integer
          format: int32
          minimum: 1
          default: 1
        shuffle:
          type: boolean
          default: false
        jokers_enabled:
          type: boolean
          default: false

    GetDecksResponse:
      title: Get Decks Response
      desccription: Response from GET /api/decks
      type: object
      required:
      - success
      - decks
      properties:
        success: 
          type: boolean
        decks:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/Decks'

    GetDeckResponse:
      title: Get Deck Response
      description: Response from GET /api/deck/<deck_id>
      type: object
      required:
      - success
      - deck_id
      - cards
      - shuffled
      - remaining
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        cards:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/Card'
        shuffled:
          type: boolean 
        remaining:
          type: integer
          format: int32
    DeleteDeckResponse:
      title: Delete deck Response
      description: Response from DELETE /api/deck/<deck_id>
      type: object
      required:
      - success
      - deck_id
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string

    GetDeckStatusResponse:
      title: Get deck status
      description: Response from GET /api/deck/deck_id/status
      type: object
      required:
      - success
      - deck_id
      - shuffled
      - remaining
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        shuffled:
          type: boolean 
        remaining:
          type: integer
          format: int32

    GetDeckBackResponse:
      title: Get deck's back image
      description: Response from GET /api/deck/deck_id/back
      type: object
      required:
      - success
      - back_image
      properties:
        success: 
          type: boolean
        back_image: 
          type: string

    PostDeckResponse:
      title: Post Deck Response
      description: Response from POST /api/deck
      type: object
      required:
      - success
      - deck_id
      - shuffled
      - remaining
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        shuffled:
          type: boolean 
        remaining:
          type: integer
          format: int32

    ErrorResponse:
      title: Error Response
      description: Standard error response
      type: object
      required:
      - success
      - error
      properties:
        success:
          type: boolean
        error:
          type: string

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

