openapi: 3.1.0

info:
  title: DeckOfCard
  version: 1.0.0
  summary: REST API for a deck of cards
  description: |
    This implementation is inspired by [deckofcardsapi.com](https://www.deckofcardsapi.com/)
  license:
    name: MIT
    identifier: MIT

servers:
- url: https://deckofcards.chuklee.com
  description: DeckOfCard
- url: http://localhost:3000
  description: Local development

paths:
  /api/decks:
    get: 
      summary: List of all decks
      operationId: listDecks
      tags:
      - deck
      responses:
        '200': 
          description: A list of all the installed card decks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDecksResponse'
  /api/deck:
    post: 
      summary: Create a new deck
      operationId: createNewDeck
      tags:
      - deck
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeckOptions'
      responses:
        '200':
          description: Created new deck 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostDeckResponse'
        '400':
          description: Cannot create deck
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Cannot find deck name or deck id
          $ref: '#/components/responses/NotFound'
        '503':
          description: Exceeded the number of decks
          $ref: '#/components/responses/ServiceUnavailable'

  /api/deck/{deckId}:
    get: 
      summary: Draw cards from a deck - NOT IDEMPOTENT
      operationId: drawCardsFromDeck
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      - name: count
        in: query
        schema:
          type: number
          default: 1
      - name: from 
        in: query
        schema:
          type: string
          enum:
          - bottom
          - random
      - name: cards
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Draw cards from a deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckResponseWithCards'
        '400':
          description: Cannot create deck
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Cannot find deck name or deck id
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete a deck 
      operationId: deleteDeck
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Delete a deck 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDeckResponse'
        '404':
          description: Cannot find deck name or deck id
          $ref: '#/components/responses/NotFound'
    put: 
      summary: Reshuffle the cards with the deck_id
      operationId: reshuffleDeck
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      - name: remaining
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Status of the shuffled deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckStatusResponse'
        '400':
          description: Cannot create deck
          $ref: '#/components/responses/BadRequest'
    patch: 
      summary: Add cards to the deck
      operationId: addCardsToDeck
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      - name: cards
        in: query
        required: true
        schema:
          type: string
      - name: shuffle
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Draw cards from a deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckResponse'
        '400':
          description: Cannot add cards to deck
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Cannot find deck 
          $ref: '#/components/responses/NotFound'

  /api/deck/{deckId}/contents:
    get:
      summary: Get the contents of a deck
      operationId: getDeckContents
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get the remaining contents of the deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckResponseWithCards'
        '404':
          description: Cannot find deck id
          $ref: '#/components/responses/NotFound'


  /api/deck/{deckId}/status:
    get:
      summary: Show the status of the deck
      operationId: getDeckStatus
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of piles in a deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckPilesResponse'
        '404':
          description: Cannot find deck name or deck id
          $ref: '#/components/responses/NotFound'

  /api/deck/{deckId}/back:
    get:
      summary: Get the back image of a deck
      operationId: getBackImage
      tags:
      - deck instance
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get the back image of a deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckBackResponse'
        '404':
          description: Cannot find deck name or deck id
          $ref: '#/components/responses/NotFound'

  /api/deck/{deckId}/piles:
    get:
      summary: List the piles for a deck
      operationId: listPilesInDeck
      tags:
      - piles
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of piles in a deck
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckPilesResponse'
        '400':
          description: Cannot create deck
          $ref: '#/components/responses/BadRequest'
    post: 
      summary: Manually create piles
      operationId: createPilesInDeck
      tags:
      - piles
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePilesOptions'
      responses:
        '200':
          description: Created new deck 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostDeckPilesResponse'
        '400':
          description: Cannot create piles in a deck
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Cannot find deck
          $ref: '#/components/responses/NotFound'

  /api/deck/{deckId}/pile/{pileName}:
    get:
      summary: Specify the cards to draw from a pile
      operationId: drawCardsFromPile
      tags:
      - piles
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      - name: pileName
        in: path
        required: true
        schema:
          type: string
      - name: count
        in: query
        schema:
          type: number
          default: 1
      - name: from 
        in: query
        schema:
          type: string
          enum:
          - bottom
          - random
      - name: cards
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Draw cards from a pile
          content:
            application/json:
              schema:
                # HERE
                $ref: '#/components/schemas/GetPileResponseWithDrawnCards'
        '400':
          description: Bad request
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Cannot find deck id or pile name
          $ref: '#/components/responses/NotFound'
    put: 
      summary: Reshuffle the cards in a pile within a deck
      operationId: reshufflePileInDeck
      tags:
      - piles
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      - name: pileName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Status of the shuffled pile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDeckStatusResponse'
        '404':
          description: Cannot find deckId or pileName
          $ref: '#/components/responses/NotFound'
    patch: 
      summary: Add cards to a pile
      operationId: addCardsToPile
      tags:
      - piles
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      - name: pileName
        in: path
        required: true
        schema:
          type: string
      - name: cards
        in: query
        schema:
          type: string
      - name: shuffle
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Returns the contents of the deck and pile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutDeckStatusResponse'
        '400':
          description: Cannot add cards to deck
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Cannot find deck 
          $ref: '#/components/responses/NotFound'

  /api/deck/{deckId}/pile/{pileName}/contents:
    get:
      summary: |
        Get the contents of a pile from a deck
        'discarded' pile is created for every deck instance
      operationId: getPileInDeckContents
      tags:
      - piles
      parameters:
      - name: deckId
        in: path
        required: true
        schema:
          type: string
      - name: pileName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get the contents of a pile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPileResponseWithCards'
        '404':
          description: Cannot find deck id or pile name
          $ref: '#/components/responses/NotFound'


components:
  schemas:
    DeckSummary:
      title: Deck Summary 
      description: Short information about a deck
      type: object
      required:
      - id
      - name
      - description
      properties:
        id: 
          type: string
        name: 
          type: string
        description: 
          type: string

    Decks:
      title: Deck Summary 
      description: List of card decks
      type: array
      items:
        $ref: '#/components/schemas/DeckSummary'

    Card:
      title: Card
      description: Card details
      type: object
      required:
      - code
      - image
      - value
      - suit
      - images
      properties:
        code: 
          type: string
        image: 
          type: string
        value: 
          type: string
        suit: 
          type: string
        count:
          type: integer 
          format: int32
        images:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/CardImages'

    CardImages:
      title: Card Images
      description: Images of a card
      type: object
      properties:
        svg:
          type: string
        png:
          type: string
        jpeg:
          type: string
        jpg:
          type: string
    RemainingWithCards:
      title: Remaining cards
      description: Remaining cards
      type: object
      required:
      - remaining
      - cards
      properties:
        remaining:
          type: int
          format: int32
        cards:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/Card'

    Remaining:
      title: Remaining cards
      description: Remaining cards
      type: object
      required:
      - remaining
      properties:
        remaining:
          type: int
          format: int32

    CreateDeckOptions:
      title: Create Deck Options
      description: Options for creating a deck
      type: object
      anyOf:
      - required: [ deck_id ]
      - required: [ deck_name ]
      - required: [ deck_name, deck_id ]
      properties:
        deck_id:
          type: string
        deck_name:
          type: string
        deck_count:
          type: integer
          format: int32
          minimum: 1
          default: 1
        shuffle:
          type: boolean
          default: false
        jokers_enabled:
          type: boolean
          default: false
        cards:
          type: string

    CreatePilesOptions:
      title: Create piles for a given deck
      description: Options for creating a deck
      type: object
      required:
      - piles
      properties:
        piles:
          type: array
          minItems: 1
          items:
            type: string

    GetDecksResponse:
      title: Get Decks Response
      desccription: Response from GET /api/decks
      type: object
      required:
      - success
      - decks
      properties:
        success: 
          type: boolean
        decks:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/Decks'

    GetDeckResponse:
      title: Get Deck Response 
      description: Response from GET /api/deck/deck_id
      type: object
      required:
      - success
      - deck_id
      - shuffled
      - remaining
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        shuffled:
          type: boolean 
        remaining:
          type: integer
          format: int32

    GetDeckResponseWithCards:
      title: Get Deck Response with cards
      description: Response from GET /api/deck/deck_id
      type: object
      required:
      - success
      - deck_id
      - cards
      - shuffled
      - remaining
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        cards:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/Card'
        shuffled:
          type: boolean 
        remaining:
          type: integer
          format: int32
    DeleteDeckResponse:
      title: Delete deck Response
      description: Response from DELETE /api/deck/deck_id
      type: object
      required:
      - success
      - deck_id
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string

    PutDeckStatusResponse:
      title: Get pile status
      description: Response from GET /api/deck/deck_id/pile/pile_name
      type: object
      required:
      - success
      - deck_id
      - shuffled
      - remaining
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        shuffled:
          type: boolean 
        remaining:
          type: integer
          format: int32
        piles:
          type: object
          addtionalProperties:
            $ref: '#/components/schemas/Remaining'

    GetDeckStatusResponse:
      title: Get deck status
      description: Response from GET /api/deck/deck_id/status
      type: object
      required:
      - success
      - deck_id
      - shuffled
      - remaining
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        shuffled:
          type: boolean 
        remaining:
          type: integer
          format: int32

    GetPileResponseWithCards:
      title: Get contents of a pile
      description: Response from GET /api/deck/deck_id/pile/pile_name/contents
      type: object
      required:
      - success
      - deck_id
      - shuffled
      - remaining
      - piles
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        shuffled:
          type: boolean 
        remaining:
          type: integer
          format: int32
        piles:
          type: object
          addtionalProperties:
            $ref: '#/components/schemas/RemainingWithCards'

    GetPileResponseWithDrawnCards:
      title: Drawing cards from a pile
      description: Response from GET /api/deck/deck_id/pile/pile_name
      type: object
      required:
      - success
      - deck_id
      - shuffled
      - remaining
      - cards
      - piles
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        shuffled:
          type: boolean 
        remaining:
          type: integer
          format: int32
        cards:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/Card'
        piles:
          type: object
          addtionalProperties:
            $ref: '#/components/schemas/RemainingWithCards'

    GetDeckPilesResponse:
      title: Get deck status
      description: Response from GET /api/deck/deck_id/piles
      type: object
      required:
      - success
      - deck_id
      - shuffled
      - remaining
      - piles
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        shuffled:
          type: boolean 
        remaining:
          type: integer
          format: int32
        piles:
          type: object
          addtionalProperties:
            $ref: '#/components/schemas/Remaining'
    PostDeckPilesResponse:
      title: Create piles
      description: Response from POST /api/deck/deck_id/piles
      type: object
      required:
      - success
      - deck_id
      - piles
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        piles:
          type: array
          minItems: 0
          items:
            type: string

    GetDeckBackResponse:
      title: Get deck's back image
      description: Response from GET /api/deck/deck_id/back
      type: object
      required:
      - success
      - back_image
      properties:
        success: 
          type: boolean
        back_image: 
          type: string

    PostDeckResponse:
      title: Post Deck Response
      description: Response from POST /api/deck
      type: object
      required:
      - success
      - deck_id
      - shuffled
      - remaining
      properties:
        success: 
          type: boolean
        deck_id: 
          type: string
        shuffled:
          type: boolean 
        remaining:
          type: integer
          format: int32

    ErrorResponse:
      title: Error Response
      description: Standard error response
      type: object
      required:
      - success
      - error
      properties:
        success:
          type: boolean
        error:
          type: string

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ServiceUnavailable:
      description: Service unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

